.mypagewhole {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mypage {
  display: flex;
  font-family: "LINESeedKR-Bd";
  width: 1150px;
  margin-bottom: 50px;
}

.pic {
  transform-origin: 65% center;
  transform: rotate(-90deg);
  height: 180px;
  width: 180px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin : 15px 0;
}

.pictxt {
  text-align: right;
}

.linehor {
  width: 180px;
  height: 3px;
  background-color: black;
}

.circles {
  position: absolute;
  z-index: -1;
  right: 100px;
  top: 250px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-top: 10%;
  float: right;
  padding-right: 15px;
  -webkit-animation: flicker-in-1 1.5s linear both;
  animation: flicker-in-1 1.5s linear both;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.circlegroup {
  height: 100%;
  margin-left: 20px;
  display: grid;
  grid-template-rows: 50fr 20fr 8fr 7fr 15fr;
}
.circlegroup3 {
  height: 100%;
  margin-left: 10px;
  display: grid;
  grid-template-rows: 47fr 20fr 8fr 8fr 13fr;
}
.circlegroup2 {
  height: 100%;
  margin-left: 17px;
  display: grid;
  grid-template-rows: 147px 58px 291.5px;
  text-align: right;
  padding-top: 141px;
}

.one {
  margin: 20px 0 20px 120px;
}

.two {
  margin: 20px 0 0 120px;
}

.right {
  display: flex;
  -webkit-animation: flicker-in-1 1s linear both;
  animation: flicker-in-1 1s linear both;
}

.diag {
  width: 260px;
  height: 3px;
  background-color: black;
  transform-origin: 0 100%;
  transform: rotate(-45deg);
}
.diag2 {
  width: 190px;
  height: 3px;
  background-color: black;
  transform-origin: 0 100%;
  transform: rotate(15deg);
}

.horline {
  width: 250px;
  height: 3px;
  background-color: black;
}

.idcard {
  width: 450px;
  -webkit-animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.cardtop {
  position: relative;
}

.line {
  height: 3px;
  width: 180px;
  background-color: black;
}

.cardtopbase {
  width: 150px;
  border-bottom: 60px solid #f3f3f3;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  height: 0;
  padding-top: 55px;
}

.cardtopcircle {
  width: 100px;
  height: 40px;
  position: absolute;
  background-color: #fffefc;
  border-radius: 50px;
  left: 180px;
  top: 72px;
  box-shadow: inset 0px 0px 25px 4px #00000025;
}

.cardtopclip {
  position: absolute;
  width: 50px;
  height: 72px;
  border-width: 0px 3px 3px 3px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    80deg,
    #576265,
    #9ea1a1,
    #848b8a,
    #576265,
    #576265,
    #757a7b,
    #576265
  );
  top: 0;
  left: 200px;
}

.cardmiddle {
  width: 450px;
  height: 550px;
  background-color: #f3f3f3;
  padding-top: 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 10px #00000050;
}

.cardmiddlebase {
  background-color: #d9d9d9;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.info_top {
  height: 60%;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}

.info_img {
  display: flex;
  width: 100%;
  height: 272px;
}

.info_img img {
  width: 50%;
  object-fit: cover;
}

.info_nn {
  font-size: 16px;
  padding: 10px 0;
}

.info_bottom {
  height: 40%;
  padding: 10px;
}

.info_title {
  font-size: 54px;
}

.info_sub {
}

.info_name {
  font-size: 24px;
}

.info_date {
  font-size: 20px;
}

.info_bottom2 {
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.info_nation {
  display: flex;
  align-items: flex-end;
}
.info_nation img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 10px;
}

.logo {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: wheat;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(#F2CD3C, #FF9243);
}


 @-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
