.mypage {
  display: flex;
  font-family : 'LINESeedKR-Bd';
  width : 710px;
  margin-bottom: 50px;
}

.pic {
  transform-origin: 100% 0;
  transform : rotate(-90deg);
  height: 180px;
  width: 180px;
  text-align: right;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.linehor {
  width: 180px;
  height: 3px;
  background-color: black;
}

.left {
  display: flex;
  flex-direction: column;
  width : 220px;
  margin-top : 25%;
  float: right;
  padding-right: 15px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.circlegroup {
  height: 100%;
  margin-left: 20px;
  display: grid;
  grid-template-rows: 55% 15% 10% 10% 10%;
}
.circlegroup2 {
  height: 100%;
  margin-left: 17px;
  display: grid;
  grid-template-rows: 106px 70.5px 70.5px 70.5px;
  text-align: right;
  padding-top : 183px;
}

.one {
  margin : 20px 0 20px 197px;
}

.two {
  margin : 20px 0 0 197px;
}

.right {
   display: flex;
}

.diag {
  width: 260px;
  height: 3px;
  background-color: black;
  transform-origin: 0 100%;
  transform : rotate(-45deg);
}

.horline {
  width: 300px;
  height: 3px;
  background-color: black;
}

.idcard {
  width: 550px;
}

.cardtop {
  position: relative;
}

.line {
  height: 3px;
  width: 180px;
  background-color: black;
}

.cardtopbase {
  width: 150px;
  border-bottom: 60px solid #f3f3f3;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  height: 0;
  padding-top : 55px;
}

.cardtopcircle {
  width: 120px;
  height: 40px;
  position: absolute;
  background-color: #fffefc;
  border-radius: 50px;
  left: 220px;
  top : 72px;
  box-shadow: inset 0px 0px 25px 4px #00000025;
}

.cardtopclip {
  position: absolute;
  width: 50px;
  height: 72px;
  border-width : 0px 3px 3px 3px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(80deg, #576265, #9EA1A1, #848B8A, #576265, #576265, #757A7B, #576265  );
  top : 0;
  left: 250px;
}

.cardmiddle {
  width: 550px;
  height: 550px;
  background-color: #f3f3f3;
  padding-top : 40px;
}

.cardmiddlebase {
  background-color: #D9D9D9;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.info_top {
  height: 60%;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}

.info_img {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.info_img img {
  width: 50%;
  object-fit: cover;
}

.info_nn {
  font-size : 16px;
  padding : 10px 0;
}

.info_bottom {
  height: 40%;
  padding : 10px;
}

.info_title {
  font-size: 64px;
}

.info_sub {

}

.info_name {
  font-size : 36px;
}

.info_date {
  font-size : 20px;
}

.info_bottom2 {
  display: flex;
  justify-content: space-between;
}

.info_nation img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border : 2px solid black;
}