/* .line {
  width: 1410px;
  height: 5px;
  background-color: black;
  margin-bottom: 20px;
}

@media (max-width : 1439px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
  }

  .line {
    width: 940px;
    height: 5px;
    background-color: black;
  }
}
@media (max-width : 960px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 470px;
    margin: 0 auto;
  }

  .line {
    width: 470px;
    height: 5px;
    background-color: black;
  }
} */

.mynoveltitle {
  position: relative;
  text-align: center;
}

.logo {
  height: 50px;
}
.step {
  position: absolute;
  left: 45%;
  top: 10px;
  font-size: 20px;
  color: white;
}

.titlebar {
  font-family: "LINESeedKR-Bd";
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}

.titlebar button {
  width: 100px;
  height: 50px;
  background-color: #f66f00;
  color: white;
  border: 0;
  font-size: 20px;
}

.title {
  font-size: 28px;
}

/* .booklist {
  margin : 0 5%;
  height: 370px;
} */
/* 
.hidden {
  display : none;
  opacity: 0;
}

.appear {
  animation : fade-in 1s;
  animation-fill-mode: forwards;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode:forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
} */

.booklist {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.35s ease;
  padding: 0 5%;
}
