.loginmodal {
  width: 100%;
  height: 100%;
  z-index: 15;
}

.main {
  width: 370px;
  text-align: center;
}

.loginlogo {
  margin-top: 30px;
  text-align: center;
}

.title {
  width: 300px;
  font-size: 36px;
  margin: 0 auto;
  text-align: start;
  margin-bottom: 5%;
}

.subtitle {
  width: 300px;
  font-size: 16px;
  margin: 0 auto;
  text-align: start;
}

.topborder {
  display: flex;
  justify-content: space-between;
}
.topright {
  width: 100px;
  height: 15px;
  background-color: #f66f00;
  border-bottom-left-radius: 20px;
}
.topleft {
  width: 15px;
  height: 15px;
  background-color: #f66f00;
}

.middleborder {
  display: flex;
}

.leftborder {
  height: 470px;
  width: 15px;
  background-color: #f66f00;
}

.bottomborder {
  display: flex;
  justify-content: space-between;
}
.bottomleft {
  width: 100px;
  height: 15px;
  background-color: #f66f00;
  border-top-right-radius: 20px;
}
.bottomright {
  width: 15px;
  height: 15px;
  background-color: #f66f00;
}

.welcome {
  position: absolute;
  top: 15%;
  transform: rotate(-90deg);
  left: -25px;
  font-size: 30px;
  font-weight: bold;
  font-family: "handjet";
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-top: 20px;
}
.form input {
  height: 40px;
  width: 250px;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "LINESeedKR-Bd";
  padding-top: 4px;
}
.form button {
  height: 40px;
  width: 250px;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f66f00;
  color: white;
  font-family: "LINESeedKR-Bd";
  padding-top: 4px;
}
.form button:hover {
  cursor: pointer;
}
.form span {
  font-family: "LINESeedKR-Bd";
  font-size: 13px;
  border-bottom: 1px solid rgb(53, 53, 53);
  color: rgb(53, 53, 53);
}
.form span:hover {
  cursor: pointer;
}

.socialContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialLine {
  position: relative;
  bottom: 2px;
  display: inline-block;
  margin: 0;
  width: 100px;
  height: 1px;
  background-color: rgb(220, 220, 220);
  border: none;
}
.socialTitle {
  padding: 0 8px;
  font-size: 13px;
  color: rgb(181, 181, 181);
  font-family: "LINESeedKR-Bd";
}
.socialButton {
  display: flex;
  column-gap: 12px;
  margin: 15px auto;
}
.socialButton > img:hover {
  cursor: pointer;
}
