.App {
  text-align: center;
  font-family: "gothic";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: "gothic";
  src: url(../public/fonts/Dovemayo_gothic.ttf);
}

@font-face {
  font-family: "wild";
  src: url(../public/fonts/Dovemayo_wild.ttf);
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url(../public/fonts/LINESeedKR-Bd.ttf);
}

@font-face {
  font-family: "Jadyn_Maria";
  src: url(../public/fonts/Jadyn_Maria.ttf);
}
