.App {
  text-align: center;
  font-family: "gothic";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 스크롤바의 폭 너비 */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #000000; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

body::-webkit-scrollbar-track {
  background: #f66f0070;  /*스크롤바 뒷 배경 색상*/
}

@font-face {
  font-family: "gothic";
  src: url(../public/fonts/Dovemayo_gothic.ttf);
}

@font-face {
  font-family: "wild";
  src: url(../public/fonts/Dovemayo_wild.ttf);
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url(../public/fonts/LINESeedKR-Bd.ttf);
}

@font-face {
  font-family: "Jadyn_Maria";
  src: url(../public/fonts/Jadyn_Maria.ttf);
}

@font-face {
  font-family: "handjet";
  src: url(../public/fonts/Handjet.ttf);
}

@font-face {
  font-family: "valverde";
  src: url(../public/fonts/Valverde-CondSemBdIta.otf);
}