@media screen and (max-width: 768px) {
  .overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f66f00;
    z-index: 999;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}
