/* .ReactModal__Content {
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 0 !important;
  border-radius: 20px !important;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
} */

.ReactModal__Overlay {
  background-color: rgba(87, 98, 101, 0.6) !important;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} 


.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}