.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1410px;
  margin: 0 auto;
  /* justify-content: center; */
}

@media (max-width : 1439px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
  }
}
@media (max-width : 960px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 470px;
    margin: 0 auto;
  }
}