.current_step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 150px 50px 150px;
}
.component {
  position: relative;
}
.circle_left.show {
  position: absolute;
  z-index: -1;
  left: 70px;
  height: 200px;
}

.circle_right.show {
  position: absolute;
  z-index: -1;
  right: 70px;
  height: 200px;
  top: 300px;
}

.circle_left.hide,
.circle_right.hide {
  display: none;
}
