.container {
  background: linear-gradient(147.38deg, #f2cd3c 0%, #f66f00 100%);
  border: 3px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 25px 12px 10px 20px;
  width: 390px;
  height: 380px;
  box-sizing: border-box;
}
.scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}
