.container {
  width: 450px;
  height: 380px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.container * {
  font-family: "LINESeedKR-Bd";
}
.component {
  /* border: 1px solid blue; */
  flex: 1;
  position: relative;
  margin: 20px 0;
}
.disabled {
  filter: opacity(40%);
}
.element1 {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}
.element2 {
  position: absolute;
  top: 52px;
  left: 12px;
  width: 88px;
  height: 2px;
  background-color: black;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
}
.element3 {
  position: absolute;
  top: 83px;
  left: 86px;
  width: 350px;
  height: 0px;
  border-bottom: 3px solid #000000;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.content {
  position: absolute;
  /* border: 1px solid blue; */
  top: 20px;
  left: 105px;
  width: 310px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.content:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.icon {
  width: 50px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 5px;
}
.icon > img {
  height: 100%;
}
.count1 {
  font-size: 30px;
  color: #f66f00;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 2px;
  left: 6px;
}
.count2 {
  font-size: 16px;
  color: #f66f00;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 14px;
  left: 26px;
}
.click {
  width: 240px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.click:hover {
  cursor: pointer;
}
.click1 {
  padding-top: 7px;
  font-size: 28px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.click2 {
  margin: 0 15px;
  width: 1px;
  height: 100%;
  background-color: black;
}
.click3 {
  padding-top: 3px;
  color: rgba(9, 9, 9, 0.5);
  white-space: pre-wrap;
}
