.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.component {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 85%;
  align-items: center;
  gap: 20px;
}
