.Appbar {
  height: 64px;
  width: 100%;
  background-color: #e7e7e7;
  font-size: 28px;
  color: black;
  font-family: "gothic";
  display: flex;
  align-items: center;
}

.menu {
  margin-right: 20px;
  float: right;
}

.name {
  margin-left: 20px;
  width:33%;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menudiv {
  width:33%;
}
