.container {
  height: 56px;
  background-color: #f66f00;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "LINESeedKR-Bd";
  padding: 0 20px;
}

.status,
.logo,
.menu {
  flex: 1;
}
.short {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo a {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu > * {
  display: flex;
  align-items: center;
  position: relative;
}
.menuIcon {
  width: 24px;
  height: 24px;
}
.menuIcon:hover {
  cursor: pointer;
}
.loginimg:hover {
  cursor: pointer;
}
.menu * {
  text-decoration: none;
  color: white;
}
.toggle {
  display: none;
}

@media (min-width: 481px) {
  .arrowBox {
    display: none;
    position: absolute;
    top: 50px;
    width: 100px;
    padding: 8px;
    left: -185%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fffefc;
    color: black;
    font-size: 14px;
    z-index: 99;
    text-align: center;
    border: 2px solid black;
  }

  .arrowBox:after,
  .arrowBox:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    pointer-events: none;
    content: " ";
    text-align: center;
  }
  .arrowBox:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fffefc;
    border-width: 10px;
    margin-left: -10px;
  }

  .arrowBox:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: black;
    border-width: 12px;
    margin-left: -12px;
  }

  .menuIcon:hover + .arrowBox {
    display: block;
  }
}
@media (max-width: 1024px) {
  .full {
    display: none;
  }
  .short {
    display: block;
  }
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    min-height: 56px;
    height: auto;
  }
  .status {
    display: none;
  }
  .menu {
    position: absolute;
    top: 56px;
    left: 0;
    height: 150px;
    flex-direction: column;
    background: linear-gradient(#f66f00, #ff9243);
    /* background-color: aqua; */
    width: 100%;
    z-index: 20;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .menu.on {
    display: flex;
  }
  .menu.off {
    display: none;
  }
  .menu > * {
    justify-content: center;
    gap: 10px;
  }
  .arrowBox {
    display: inline;
    padding-top: 2px;
    font-size: 20px;
  }
  .toggle {
    display: flex;
    position: absolute;
    right: 20px;
    height: 56px;
    align-items: center;
  }
  .toggle > img {
    height: 60%;
  }
}
