.container {
  height: 56px;
  background-color: #f66f00;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  font-family: "LINESeedKR-Bd";
  padding: 0 20px;
}

.status,
.logo,
.menu {
  flex: 1;
}
.short {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo a {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu > * {
  display: flex;
  align-items: center;
}
.menuIcon {
  height: 24px;
}
.menuIcon:hover {
  cursor: pointer;
}
.toggle {
  display: none;
}
.arrowBox {
  display: none;
}
@media (max-width: 1024px) {
  .full {
    display: none;
  }
  .short {
    display: block;
  }
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .status {
    display: none;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu.on {
    display: block;
  }
  .menu.off {
    display: none;
  }
  .toggle {
    display: block;
    position: absolute;
    right: 20px;
  }
}
