.page{
    position: relative;
    height: auto;
}
.cleft{
    position: absolute;
    top: 720px;
    left: 50px;
    z-index: -1;
}
.cright{
    position: absolute;
    right: 50px;
    bottom: 0;
    z-index: -1;
}