.container {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}
.canvas {
  width: 608px;
  height: 380px;
  border: 3px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.tools {
  width: 80px;
  height: 400px;
  margin-left: 30px;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
}
.tools > div {
  flex: 1;
  border: 1px solid red;
}
.tool3 {
  position: relative;
}
.setWidth {
  top: 0;
  left: -300px;
  width: 300px;
  height: 50px;
  position: absolute;
  background-color: aqua;
}
.tool4 {
  position: relative;
}
.setColor {
  top: 0;
  left: -300px;
  width: 300px;
  height: 50px;
  position: absolute;
  background-color: orange;
}
