.container {
  width: 180px;
  height: 370px;
  border: 3px solid black;
  padding: 6px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.image {
  height: 230px;
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  padding: 0 12px 0 8px;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name > span {
  color: black;
  font-size: 28px;
}
.name > img {
  height: 20px;
}
.desc {
  position: relative;
  top: 35px;
  text-align: center;
}
.desc > span {
  color: #576265;
}
.selected.container {
  background-color: #f66f00;
  transition: all 0.3s ease;
}
.selected span {
  color: white;
  transition: all 0.3s ease;
}
