.container {
  width: 390px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.container * {
  font-family: "LINESeedKR-Bd";
}
.box {
  width: 100%;
  background: linear-gradient(130.87deg, #f2cd3c 0%, #f66f00 100%);
  border: 3px solid #000000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 80%;
  background: linear-gradient(130.87deg, #f2cd3c 0%, #f66f00 100%);
  position: relative;
}
.Q {
  color: rgba(255, 254, 252, 0.3);
  font-size: 112px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.count1 {
  font-size: 30px;
  color: #fffefc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 25px;
  right: 42px;
}
.count2 {
  font-size: 16px;
  color: #fffefc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 37px;
  right: 26px;
}

.question {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  font-size: 24px;
  color: #fffefc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
.dice {
  position: absolute;
  bottom: 12px;
  right: 24px;
}
.dice > img {
  height: 30px;
}
.dice > img:hover {
  cursor: pointer;
}
.dice > img:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-4-3 14:9:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.button {
  width: 100%;
  height: 12%;
}
.button > button {
  height: 100%;
  width: 100%;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
}
.button > button:hover {
  cursor: pointer;
  background-color: #f66f00;
  transition: all 0.3s ease;
}
