.header {
    padding-top: 110px;
    background-color: #000;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .svg1 path {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 3px;
  }
  .svg2 path {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 3px;
  }
  .svg3 path {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 3px;
  }
  .svg4 path {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 3px;
  }
  

  .svg1 .path1 {
    stroke-dasharray: 6884;
    animation: drawPath1 1s linear, floating 2.2s linear infinite;
  }

  .svg2 path {
    stroke: #000;
  }
  /* .svg3 path {
    stroke: #f2f2f2;
  }
  .svg4 path {
    stroke: #f2f2f2;
  } */

  /* .path2 {
    stroke: #000;
  }

  .path2 {
    stroke: #000;
  } */


  .content1 {
    background-color: #f1f1f1;
  }
  
  .content2 {
    background-color: #000;
  }
  
  
  .content2 {
    background-image: repeating-linear-gradient(0deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 7px);
      background-size: 2px;
  }
  
  .content3 {
    background-color: #1a1a1a;
  }
  

  @keyframes drawPath1 {
    0% {
      stroke-dashoffset: 6884;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes floating {
    50% {
      transform: translate3d(0, 40px, 0);
    }
  }