.block{
    width: 100%;
    height: 1000px;
    background: #FFFEFC;
}

.title{
    position: relative;
    width: 300px;
    top: 5%;
    left: 8%;
    font-family: 'LINESeedKR-Bd';
    font-size: 64px;
}

.container{
    position: relative;
    top: 34%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid #FFFEFC;
}

.steps{
    position: relative;
    top: 10%;
    width: 22%;
    height: 70%;
    border: 3px solid #090909;
}

.vs{
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    background: #FFFEFC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sicon{
    width: 60px;
}
.num{
    font-family: 'LINESeedKR-Bd';
    position: relative;
    left: -35%;
    color: #FFFEFC;
    font-size: 24px;
    z-index: 2;
}