.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    top: -2380px;
    left: 27.7%;
    width: 700px;
}
.bbb{
    font-family: 'LINESeedKR-Bd';
    font-size: 30px;
    width: 650px;
    color: #576265;
}
