.wrapper{
    display: flex;
    justify-content: center;
    align-self: center;
}
.bbb{
    position: absolute;
    top: 630%;
    left: 5%;
    font-family: 'LINESeedKR-Bd';
    font-size: 30px;
    width: 650px;
    height: 200px;
    color: #ACACAC;
}
