.wrapper1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2000px;
    left: 10%;
    width: 700px;
}
.bbb{
    font-family: 'LINESeedKR-Bd';
    font-size: 60px;
    width: 100%;
    background: linear-gradient(93.55deg, #47B0BE 0%, #3190E7 24.62%, #24196B 48.82%, #58D6BF 69.23%, #24B70C 96.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}