.wrapper1{
    display: flex;
    justify-content: center;
    align-self: center;
}
.bbb{
    position: absolute;
    top: 600%;
    left: 5%;
    font-family: 'LINESeedKR-Bd';
    font-size: 60px;
    width: 380px;
    background: linear-gradient(93.55deg, #FAE6FF 0%, #B91AD3 24.62%, #4C2AAB 49.69%, #5359E7 71.08%, #FFFCFF 96.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}