.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1410px;
  margin: 0 auto;
}

.line {
  width: 1410px;
  height: 5px;
  background-color: black;
  margin-bottom: 20px;
}

@media (max-width : 1439px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
  }

  .line {
    width: 940px;
    height: 5px;
    background-color: black;
  }
}
@media (max-width : 960px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: 470px;
    margin: 0 auto;
  }

  .line {
    width: 470px;
    height: 5px;
    background-color: black;
  }
}