.wrapper {
  display: flex;
  justify-content: center;
}
.bbb {
  margin-top: -170%;
  margin-left: -40%;
  width: auto;
  font-family: "LINESeedKR-Bd";
  font-size: clamp(10px, 2vw, 30px);
  width: auto;
  color: #576265;
}

@media (max-width: 1024px) {
  .bbb {
    /* display: none; */
  }
}
