.search_result {
  font-size: 36px;
  margin-left: 10%;
}

.explain {
  font-size: clamp(14px, 3vw, 16px);
  position: relative;
  margin-left: 10%;
  margin-top: -100px;
  margin-bottom: 110px;
  width: 80%;
  height: 50px;
  opacity: 70%;
  display: flex;
  align-items: center;
}

.searchpart {
  /* background: green; */
  position: relative;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.circle_left {
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 0;
}

.circle_right {
  position: absolute;
  z-index: -1;
  right: 100px;
  top: 0;
}

.search {
  font-size: clamp(24px, 2.5vw, 36px);
  margin-left: 20%;
  width: 50%;
}

.btnwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbtn {
  font-family: "gothic";
  width: 140px;
  height: 50px;
  color: #fffefc;
  background-color: black;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.divbar {
  width: 3px;
  height: 50px;
  margin: 0 10px 0 10px;
  background: #a9a9a9;
}

.searchinput {
  width: 450px;
  height: 50px;
  border: 0;
  background-color: transparent;
  border-bottom: 5px solid #a9a9a9;
  margin-left: 15px;
  font-size: 25px;
  font-family: "gothic";
}

.searchinput:focus {
  outline: none;
}

.form {
  display: flex;
}

.searchicon {
  width: 20%;
  opacity: 50%;
  margin-left: 10%;
  margin-right: 20%;
}

@media (max-width: 1024px) {
  .explain {
    margin-top: -20px;
  }
  .circle_left {
    display: none;
  }
  .circle_right {
    display: none;
  }
  .searchicon {
    display: none;
  }
  .searchbtn {
    font-family: "gothic";
    width: 80px;
    height: 30px;
    color: #fffefc;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 10px 0 10px;
  }
  .divbar {
    width: 2px;
    height: 30px;
    margin: 0 2px 0 2px;
    background: #a9a9a9;
  }

  .search {
    font-size: 24px;
    margin-left: -32%;
  }

  .form {
    display: flex;
    margin-top: 20px;
  }

  .searchinput {
    width: 200px;
    height: 30px;
    border: 0;
    border-bottom: 3px solid black;
    margin-left: 15px;
    font-size: 25px;
    font-family: "gothic";
  }

  .search_result {
    max-width: 80%;
    font-size: 16px;
    position: relative;
  }
}

@media (max-width: 400px) {
  .explain {
    margin-bottom: 50px;
  }
  .search {
    /* background: red; */
    width: 100%;
    margin-left: 15%;
  }
  .form {
    margin-top: -1%;
    margin-bottom: 40%;
  }
  .btnwrapper {
    position: absolute;
    top: 70%;
    right: 22%;
  }
}
